@use '@angular/material' as mat;
@import 'src/styles/theme.scss';

mat-grid-tile-footer {
    background: none !important;
    display: flex;
    justify-content: space-between;
}

mat-divider {
    text-align: center;
    width: 50%;
    background: mat.get-color-from-palette($my-accent, 900);
    margin: auto !important;
}
