$md-beatportdark: (
    50: #e1e1e1,
    100: #b3b3b3,
    200: #818181,
    300: #4e4e4e,
    400: #282828,
    500: #020202,
    600: #020202,
    700: #010101,
    800: #010101,
    900: #010101,
    A100: #a6a6a6,
    A200: #8c8c8c,
    A400: #737373,
    A700: #666666,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #ffffff,
        400: #ffffff,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #ffffff,
        A700: #ffffff,
    ),
);

$md-beatportgreen: (
    50: #e1fff2,
    100: #b3ffdf,
    200: #80ffca,
    300: #4dffb5,
    400: #27ffa5,
    500: #01ff95,
    600: #01ff8d,
    700: #01ff82,
    800: #01ff78,
    900: #00ff67,
    A100: #ffffff,
    A200: #f2fff7,
    A400: #bfffd5,
    A700: #a6ffc4,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #000000,
        600: #000000,
        700: #000000,
        800: #000000,
        900: #000000,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000,
    ),
);

$md-maquette1: (
    50: #e4e4e4,
    100: #bbbbbd,
    200: #8e8e91,
    300: #616164,
    400: #3f3f43,
    500: #1d1d22,
    600: #1a1a1e,
    700: #151519,
    800: #111114,
    900: #0a0a0c,
    A100: #5252ff,
    A200: #1f1fff,
    A400: #0000eb,
    A700: #0000d2,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #ffffff,
        400: #ffffff,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #ffffff,
        A200: #ffffff,
        A400: #ffffff,
        A700: #ffffff,
    ),
);

$md-maquette2: (
    50: #fcf7ec,
    100: #f9eacf,
    200: #f5ddaf,
    300: #f0cf8e,
    400: #edc476,
    500: #eaba5e,
    600: #e7b356,
    700: #e4ab4c,
    800: #e1a342,
    900: #db9431,
    A100: #ffffff,
    A200: #fff7ec,
    A400: #ffe0b9,
    A700: #ffd5a0,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #000000,
        600: #000000,
        700: #000000,
        800: #000000,
        900: #000000,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000,
    ),
);
